
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{title}}</title>
    <meta name="description" content="{{title}}">
    <meta name="author" content="AUTHOR">
    <link rel="stylesheet" href="files/css/styles.css?v=1.0">

</head>

<body>
<script src="files/javascript/scripts.js"></script>
<div id="body">
    {{> body }}
</div>
</body>
</html>